html {
  background-color: #c9b5ae;
  line-height: normal;
}

h1 {
  font-family: "PT Sans", sans-serif;
  color: #3a1a29;
}

ol, nav {
  font-family: "PT Sans", sans-serif;
  list-style-type: none;
  font-size: 1rem;
}

a,
a:link {
  color: #7b2f3c;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #632731;
  font-weight: bold;
  text-decoration: underline;
}

h2 {
  color: #462435;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: .9rem;
}

img {
  width: 100%;
}

footer {
  font-size: .5rem;
}

#days {
  font-weight: bold;
}

#info {
  font-family: "PT Serif", sans-serif;
}

#fact {
  font-family: "PT Serif", sans-serif;
}

#quote {
  font-size: 2rem;
  font-style: italic;
  font-weight: normal;
}

#web {
  color: #ff6347;
}
